body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(250, 175, 221);
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: rgb(201, 152, 244);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons{
    margin-top: 20px;
}

.yes-button{
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgb(245, 136, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.no-button{
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgb(245, 136, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
} 


.img-hug{
    border-radius: 50px;
    margin-top: 20px;

}